.background1 {
  background: #202021
  url('http://i63.tinypic.com/20kw4zm.png')
  repeat-x 500px top;
}

.background2 {
  background: #ffffff
  url('http://i66.tinypic.com/dljdpg.jpg')
  repeat-x 500px top;
}

.background3 {
  background: #202021
  url('http://i64.tinypic.com/t6fec4.jpg')
  repeat-x 500px top;
 }

.background4 {
  background: #ffffff
  url('http://i64.tinypic.com/2lvfzbk.jpg')
  repeat-x 500px top;
 }
